
Matrix/.vs/Matrix/DesignTimeBuild/.dtbcache.v2
Matrix/.vs/Matrix/v16/.suo
Matrix/Matrix/obj/Release/net5.0/Matrix.assets.cache
Matrix/Matrix/obj/Release/net5.0/Matrix.AssemblyInfoInputs.cache
Matrix/Matrix/obj/project.nuget.cache
Matrix/Matrix/obj/Debug/net5.0/apphost.exe
Matrix/Matrix/bin/Debug/net5.0/Matrix.exe
Matrix/.vs/slnx.sqlite
Matrix/.vs/ProjectSettings.json
